<%- include('../partials/header') %> 



<div>
    <% wods.forEach((w) => { %>
        <div>
            <p class="wod"><%= w.title %></p>
            <p class="wod"><%= w.type %></p>
            <p class="wod"><%= w.style %></p>
            <p class="wod"><%= w.movements %></p>
            <p class="wod"><%= w.duration %></p>
            <p class="wod"><%= w.modifications %></p>
        </div>
    <% }) %> 
</div>



     

<%- include('../partials/footer') %> 