<%- include('../partials/header') %> 


<table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" id="col1">Wod</th>
        <th scope="col" id="col2">Type</th>
        <th scope="col" id="col3">Style</th>
        <th scope="col" id="col4">Specifications</th>
        <th scope="col" id="col5">Modifications</th>
        <th scope="col" id="col6">Duration</th>
        </tr> 
    </thead>
    <tbody>
      <% wods.forEach((w) => { %>
        <tr scope="row">
          <td><%= w.title %></td>
          <td><%= w.wodType %></td>
          <td><%= w.wodStyle %></td> 
          <td><%= w.movements %></td>
          <td><%= w.modifications %></td>
          <td><%= w.duration %></td>
          <!-- <td><a id="results" href="/results/<%= w._id %>">Details</a></td> -->
          <!-- <form type="submit" action="/results/<%= w._id %>" method="GET"><td><button class="btn btn-dark">Details</button></td></form> -->
        </tr>
      <% }) %>
    </tbody>
  </table>
  
     <!-- Need to search wods by keyword -->

<%- include('../partials/footer') %> 