
<%- include('../partials/header.ejs') %> 


<h2>Create a Wod</h2>
    <form action="/wods/new" method="POST">
        <label>Title:
            <input type="text" name="title" placeholder="Name your wod" class="form-control">
        </label><br>
        <input type="date" name="date" value="<%= new Date() %>" hidden>
        <input type="text" name="createdBy" value="<%= user.name %>" hidden>
        <input type="text" name="avatar" value="<%= user.avatar %>" hidden>
        <label>Workout Type:
            <select name="wodType" class="form-control">
                <option value="STRENGTH">STRENGTH</option>
                <option value="CARDIO" selected>CARDIO</option>
                <option value="MIX">MIX</option>
            </select>
        </label><br>
        <label>Workout Style:
            <select name="wodStyle" id="wodStyle" class="form-control">
                <option value="MAX_REPS">MAX REPS</option>
                <option value="Rounds">X ROUNDS</option>
                <option value="FOR_TIME" selected>FOR TIME</option>
                <option value="EMOM">EMOM</option>
                <option value="AMRAP">AMRAP</option>
                <option value="E2MOM">E2MOM</option>
                <option value="FOR_QUALITY">FOR QUALITY</option>     
                <option value="FOR_DISTANCE">FOR DISTANCE</option>   
            </select>
        </label><br>
        <label>Movements:
            <textarea name="movements" id="movements" cols="40" rows="3" class="form-control"></textarea>
        </label><br>
        <label>Modifications:
            <textarea name="modifications" id="modifications" cols="40" rows="3" class="form-control"></textarea>
        </label><br>
        <label>Duration:
            <input type="text" name="duration" 
                id="duration" class="form-control">
        </label><br>
        <input type="submit" value="Add Wod" class="btn btn-dark" id="addWod">
    </br><br>
</form>
<a href="#" class="btn btn-dark goBack">Go Back</a>

<%- include('../partials/footer.ejs') %> 

