<%- include('../partials/header') %>

<h1>Welcome to wodWizard</h1>

<h3>Today's wod is:</h3>

<div id="showWod" class="card container-fluid">
    <div class="card-body">
        <!-- show one wod -->
        <p class="wod"><%= randWod.title %></p> 
        <p class="wod"><%= randWod.wodType %></p>
        <p class="wod"><%= randWod.wodStyle %></p>
        <p class="wod"><%= randWod.movements %></p>
        <p class="wod"><%= randWod.duration %></p>
        <p class="wod"><%= randWod.modifications %></p>
        <p class="wod"><%= randWod.createdBy %></p>
    </div>
    <div>
        <h3>Enter Results</h3>
        <form action="/wods/<%= randWod._id %>/results?_method=PUT" method="POST">
            <input type="text" name="wodId" hidden value="<%= randWod._id %>">
            <input type="text" name="wodTitle" hidden value="<%= randWod.title %>">
            <input type="text" name="results" >
            <input type="submit" class="btn btn-dark">
        </form>
    </div>
    
    <a href="/wods/random" class="btn btn-dark" id="wod">Get A Different Wod</a>
</div>



<%- include('../partials/footer') %>