<%- include('../partials/header') %> 

<!-- This is the card itself -->
<div class="card bg-light">

    <!-- Nav for the card -->
    <ul class="nav nav-tabs mr-auto" role="tablist">
        <li class="nav-item profile">
          <a class="nav-link active" data-toggle="tab" id="profileInfo-tab" href="#profileInfo">Profile</a>
        </li>
        <li class="nav-item profile">
          <a class="nav-link" data-toggle="tab" id="goalsInfo-tab" href="#goalsInfo">Goals</a>
        </li>
        <li class="nav-item profile">
          <a class="nav-link" data-toggle="tab" id="resultsInfo-tab" href="#resultsInfo">Wod Results</a>
        </li>
        <li class="nav-item profile">
          <a class="nav-link" data-toggle="tab" id="friendsInfo-tab" href="#friendsInfo">Friends</a>
        </li>
        <li class="nav-item profile">
          <a class="nav-link" data-toggle="tab" id="updateInfo-tab" href="#updateInfo">Update Info</a>
        </li>
      </ul>


    <!-- Card Content -->
      <div class="tab-content">

        <!-- Content for Profile -->
        <div role="tabpanel" class="tab-pane active" id="profileInfo" aria-labelledby="profileInfo-tab">
            <div class="card-body">
                <!-- Actual Content Here -->
                <% if (!user.moniker) { %>
                    <h4 class="userName">Name: <%= user.name %></h4>
                <% } else { %> 
                    <h4 class="userMoniker">Moniker: <%= user.moniker %></h4>
                <% } %>
                    <img src="<%= user.avatar %> " alt="User Photo from Google" class="userPhoto">
                    <p class="card-text profile-text">Bio: <%= user.bio %></p>
            </div>
        </div>


        <!-- Content for Goals -->
        <div role="tabpanel" class="tab-pane" id="goalsInfo" aria-labelledby="goalsInfo-tab">
            <div class="card-body">
                <!-- Actual Content Here -->    
                <% if (user.goals.length) { %>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Content</th>
                          <th scope="col">Goal Due Date</th>
                          <th scope="col">Complete?</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% user.goals.forEach((g) => { %>
                          <tr scope="row">
                            <td><%= g.title %></td>
                            <td><%= g.content %></td>
                            <td><%= g.goalDate.toLocaleString().split(',')[0] %></td>
                            <td><a action="/goals/<%= g._id %>?_method=PUT" method="POST"><button class="checkBtn"></button></a></td>
                            <td><form action="/goals/<%= g._id %>?_method=DELETE" method="POST" type="submit"><button class="btn btn-dark">DELETE</button></form></td>
                        <% })  %> 
                          </tr>
                      </tbody>
                    </table>
                  <% } %>   
            </div>
        </div>

        <!-- Content for Results -->
        <div role="tabpanel" class="tab-pane" id="resultsInfo" aria-labelledby="resultsInfo-tab">
          <div class="card-body">
              <!-- Actual Content Here -->  
            <% if (wod) {%> 
              <div class="box" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Wod: <%= wod.wodTitle %></li>
                <li class="list-group-item">Result: <%= wod.results %></li>
              </ul>
            </div>
          <% } else { %>
            <h3>You have not posted any results yet</h3>
          <% } %> 

           
                        
            </div>
      </div>


        <!-- Content for Friends -->
        <div role="tabpanel" class="tab-pane" id="friendsInfo" aria-labelledby="friendsInfo-tab">
            <div class="card-body friends-body">
                <!-- Actual Content Here -->   
                <% if (user.friends) { %>   
              <ul>
                <% user.friends.forEach(f => { %>
                  <li><img width="30" class="friendPhoto" id="avatarPic" src="<%= f.avatar %>" alt="User Photo"><%= f.name %></li>
                  <li> </li>
                  <li>Bio: <%= f.bio %></li><br><br>
                    <% }) %>  
              </ul>     
              <% } else { %>
                <h3>You can find your friends <a href="/users">here</a>.</h3>
              <% } %>         
            </div>
        </div>
             



        <!-- Content for Update Profile -->
        <div role="tabpanel" class="tab-pane" id="updateInfo" aria-labelledby="updateInfo-tab">
            <div class="card-body">
                 <!-- Actual Content Here -->    
                 <form action="/users/profile/?_method=PUT" method="POST">
                    <label>Moniker: 
                      <input type="text" name="moniker" id="userMoniker" class="form-control" value="<%= user.moniker %>">
                    </label><br>
                    <label>Photo: 
                      <input type="text" name="avatar" id="userPhoto" class="form-control"  value="<%= user.avatar %>">
                    </label><br>
                    <label>Bio: 
                      <textarea name="bio" id="userBio" cols="20" rows="3" class="form-control" value="<%= user.bio %>"></textarea>
                    </label><br>
                    <button type="submit" name="submitBtn" class="btn btn-dark">Submit</button>
                  </form>           
            </div>
        </div>
      </div>
  

<!-- This is the end of the whole card -->
</div>
  
   

<%- include('../partials/footer') %> 