<%- include('../partials/header.ejs') %> 

<h1>user profile</h1>
    
    <!-- Body Content User Info -->
    <div class="">
        <h4 class="">Name: <%= user.name %></h4>
        <img src="<%= user.avatar %> " alt="User Photo from Google" class="userPhoto">
        <p class="card-text">Bio: <%= user.bio %></p>
        
    <!-- Put Goals Here -->
    <% if (user.goals.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Goal Due Date</th>
            <th scope="col">Complete?</th>
          </tr>
        </thead>
        <tbody>
          <% user.goals.forEach((g) => { %>
            <tr scope="row">
              <td><%= g.title %></td>
              <td><%= g.content %></td>
              <td><%= g.goalDate.toLocaleString().split(',')[0] %></td>
              <td><%= g.complete %></td>
          <% })  %> 
            </tr>
        </tbody>
      </table>
    <% } %>  

     
        
      </div>
    </div>

    <!-- Body Content Update User -->
    <div class="">
        <form action="/users/profile?_method=PUT" method="POST">
          <label>Moniker: 
            <input type="text" name="moniker" id="userMoniker" class="form-control" value="<%= user.alias %>">
          </label><br>
          <label>Photo: 
            <input type="text" name="photo" id="userPhoto" class="form-control" placeholder="Add photo URL here" value=<%= user.avatar %>>
          </label><br>
          <label>Bio: 
            <textarea name="bio" id="userBio" cols="20" rows="3" class="form-control"><%= user.bio %></textarea>
          </label><br>
          <input type="submit" name="submitBtn" class="btn btn-dark">
        </form>
      </div>
    </div>

<%- include('../partials/footer.ejs') %> 