<% if (user.results) { %>   
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
    <% user.results.forEach((r) => { %>
      <li class="list-group-item"><%= r.wodTitle %></li>
      <li class="list-group-item"><%= r.time %></li>
      <li class="list-group-item"><%= r.reps %></li>
      <li class="list-group-item"><%= r.rounds %></li>
      <li class="list-group-item"><%= r.distance %></li>
      <li class="list-group-item"><%= r.otherResult %></li>
    </ul>
  </div>
    <% })} else { %>
      <h3>You have not posted any results yet</h3>
    <% } %>           


    //if user results 
    //display in a div/card for that wod
    //if the wod === another wod already on the page,
    //disply results inside that wod


user.results.forEach((r) => {
  if (r.wod._id)
})
